/*////////////////////////////
//CONTAINER PRINCIPAL INICIO//
////////////////////////////*/

.container-inicio{
 display: flex;
 flex-direction: column;
}


/*////////////////////////////
////////NAVIGATION////////////
////////////////////////////*/
.header-inicio{
 position: fixed;
 top: 0;
 display: flex;
 width: 100%;
 height: 10vh;
 margin: auto;
 align-items: center;
 background-color: rgb(255, 255, 255);
 box-shadow: 0 5px 2px -2px rgba(0,0,0,.2);
}

.logo, .nav-links-inicio{
 display: flex;
}

.logo{
 flex: 1;
}
.logo img{
 margin-top: 7.5px;
 width: 190px;
 height: 50px;
}

.nav-inicio{
 flex: 1;
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
}

.nav-links-inicio{
 width: 50%;
 display: flex;
 justify-content: space-around;
 list-style: none;
}

.nav-link{

 color: #bc2036;
 text-decoration: none;
 font-size: 16px;
 list-style: none;
 font-weight: bold;
}
.nav-link:hover, .log-out a:hover{
 color: #ff3751;
}


/*////////////////////////////
////////REGISTRO////////////
////////////////////////////*/
.container-sign-up{
 width: 500px;
 height: 500px;
 background:rgba(36, 29, 29, 0.795);
 margin: 150px auto 100px auto;
 padding: 0 auto 20px auto;
 border-radius: 10px;
 box-shadow: 5px 5px 10px black;

}

.header-titulo{
 color: #e41f39;
 font-weight: bold;
 margin: 0;
}
.header-titulo hr{
 width: 80%;
 border-top: 3px solid #fff;
 margin: auto;
}

.form{
display: inline-block;
}

.input-group{
 margin-top: 12.5px;
}

.input-group input{
 width: 39%;
 border: 0;
 margin: 2.5%;
 padding: 10px;
 border-radius: 5%;
 
}

input:focus{

 box-shadow: 0 0 2px #ff334e;
 border: 0.25px solid #ff334e;
}
.boton{
 margin-top: 50px;
}

.boton button{
 padding: 10px;
 background-color: #e41f39;
 border: 0;
 color: #fff;
 border-radius: 10px;
 padding: 15px;
 width: 50%;
 font-size: 1rem;
 font-weight: bold;
 cursor: pointer;
}
.link{
 color: #fff;
 text-decoration: none;
 font-weight: bold;
}

.boton button:hover{
 background-color: #ff334e;

}

/*////////////////////////////
////////INICIAR SESIÓN////////
////////////////////////////*/

.container-log-in{
 width: 500px;
 height: 350px;
 background:rgba(36, 29, 29, 0.795);
 margin: 150px auto 100px auto;
 padding: 0 auto 20px auto;
 border-radius: 10px;
 box-shadow: 5px 5px 10px black;

}
